<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
	
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Konnex</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" target="_blank" href="https://console.dialogflow.com/api-client/demo/embedded/a4f55f3a-96df-4763-8cff-fd60734bd7a0">Live support by Bot</a>
	     </li>
	     <li class="nav-item">
	          <a class="nav-link active" aria-current="page" target = "_blank" href="https://konnex-live-support.herokuapp.com/">Live support by IT Product Team</a>
	      </li>
	       <li class="nav-item">
	          <a class="nav-link active" aria-current="page" target = "_blank" href="registration">Register</a>
	      </li>
	      
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
      
      <div>
	      <div id="navbar" class="collapse navbar-collapse">
	      	<ul class="nav navbar-nav">
	      		<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
	      	</ul>
	      </div>
      </div>
    </div>
  </div>
</nav>

    <br>
    <br>
    
    <div class="container">
    	<h1>Logged In Successfully</h1>
    	Welcome <span sec:authentication="principal.username">User</span>
    </div>

</body> 
</html>